/* You can add global styles to this file, and also import other style files */
/* id should be # */
#first{color: red;}

/* class should be . */
.first{ 
    color: red;
}

#third{color: green;}

.third{
    color: red;
}